<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
</head>
<body>

<a href="/">Search for a Member</a> &nbsp; &nbsp; <a href="/delete">Delete a Member</a> &nbsp; &nbsp; <a href="/add">Add a Member</a>  
<br>
<br>

    <h1>{{result}}</h1>
    <br>
    <br>

<form name="addMember" id="addMember" method="POST" action="/add">
    <div>
        <input name="last_name" type="text"  id="last_name" placeholder="Last Name" value="" required/>
        <input name="first_name" type="text"  id="first_name" placeholder="First Name" value="" required/>
        <input name="phone_number" type="tel"  id="phone_number" placeholder="Phone Number" value="" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
        required/>
        <input name="address" type="text"  id="address" placeholder="Address" value="" />
        <input name="city" type="text"  id="city" placeholder="City" value="" />
        <input name="state" type="text"  id="state" placeholder="State" value="" />
        <input name="zip" type="text"  id="zip" placeholder="Zip" value="" />
        <input name="dob" type="text"  id="dob" placeholder="Date of Birth" value="" />
        <input name="gender" type="text"  id="gender" placeholder="Gender" value="" />
        
    </div>
    <button class="submitform">Submit</button>
    </form>

</body>
</html> 