<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
</head>
<body>

        <a href="/">Search for a Member</a> &nbsp; &nbsp; <a href="/delete">Delete a Member</a> &nbsp; &nbsp; <a href="/add">Add a Member</a> 
<br>
<br>

<h1>{{response}}</h1>
<br>
<br>
<p>Name: {{name}}</p>
<p>Member ID: {{member_id}}</p>
<p>Phone Number: {{phone_number}}</p>
<p>Address: {{address}}</p>
<p>City: {{city}}</p>
<p>State: {{state}}</p>
<p>Zip Code: {{zip}}</p>
<p>Date of Birth: {{dob}}</p>
<p>Member Since: {{doj}}</p>
<p>Gender: {{gender}}</p>


</body>
</html> 
